<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>thiagoh.alfred-tz-converter</string>
	<key>connections</key>
	<dict>
		<key>16D7BCC0-AD0A-49B7-98F2-5FC3444910B1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4D7626AC-9354-4ABF-B95D-9224BCC91DDA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1A535FEC-66A2-47AD-9B58-99755BEE3DAA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C9B8E082-CCA2-4C0B-9B4F-501369C0B4DA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3E37F651-EEB7-451F-B0AD-28710998F443</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>075CB49C-D3B5-4699-9B92-B421D704333D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>408AA1A8-69F7-45E1-AF88-D3B90A40A00E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CAFFEE63-507B-4755-ADDC-20AFDF0CE87E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4D7626AC-9354-4ABF-B95D-9224BCC91DDA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>66A14357-6BF2-48B9-8B55-A5B426EEE69E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>576752B3-B93B-49C1-8E41-B0E31110799B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E9C3767A-C20A-4934-BB66-83416A567C96</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>600941C7-2A17-46A0-ABD4-C1568FBA7DBD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4D5D6C9D-E596-4EB1-A0A7-634814560B7F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7C2B2778-8AEE-4861-9E54-DD7E3C7B49F7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4D5D6C9D-E596-4EB1-A0A7-634814560B7F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>814F7D3F-03F9-4248-8308-ECA4D3792F3F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E8F7A1D7-00B7-44A7-9C43-3AFA322C666E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>942CCE71-9883-4AB2-A558-B5A44993DF3B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>576752B3-B93B-49C1-8E41-B0E31110799B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9740FE97-5B7D-4D30-9EF3-5D845C5CA7DC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>075CB49C-D3B5-4699-9B92-B421D704333D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BD27CF53-3880-47C9-9AAC-4B443E7BA1BD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F15F2405-5743-4407-9BFF-A45E6783BA88</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C0EA86FF-9C54-4A0D-B7A5-3ED5CA9F5675</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4D5D6C9D-E596-4EB1-A0A7-634814560B7F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C30DCDAB-4A04-4B8C-8DBD-2BEF53E15F31</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C0EA86FF-9C54-4A0D-B7A5-3ED5CA9F5675</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C9B8E082-CCA2-4C0B-9B4F-501369C0B4DA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8681E6DB-55BB-4796-BE89-9BD5551E64BF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D8D3E88A-E982-4F27-B3AA-46DAD6C5D87F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7C2B2778-8AEE-4861-9E54-DD7E3C7B49F7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DBA4F782-B7E9-486E-92A4-D06655FFE839</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3E37F651-EEB7-451F-B0AD-28710998F443</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E3AE529B-21B7-4E17-A447-94A184AF6066</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F8514F2E-D28D-4DC7-A39C-D2B71716F48C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E8F7A1D7-00B7-44A7-9C43-3AFA322C666E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>075CB49C-D3B5-4699-9B92-B421D704333D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>ECAFAB55-5A45-4C0D-9578-3B43945E6B61</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>600941C7-2A17-46A0-ABD4-C1568FBA7DBD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F15F2405-5743-4407-9BFF-A45E6783BA88</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>942CCE71-9883-4AB2-A558-B5A44993DF3B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>F4B43EF6-E32D-4988-A7B3-8CC64CC701BA</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Generate Unix timestamp</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>9740FE97-5B7D-4D30-9EF3-5D845C5CA7DC</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Toggle Favourite flag for this city</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F4B43EF6-E32D-4988-A7B3-8CC64CC701BA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>942CCE71-9883-4AB2-A558-B5A44993DF3B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F8514F2E-D28D-4DC7-A39C-D2B71716F48C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8681E6DB-55BB-4796-BE89-9BD5551E64BF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Thiago Andrade @thiagoh</string>
	<key>description</key>
	<string>A Timezone Converter for Alfred</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Timezone Converter</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>110</integer>
				<key>keyword</key>
				<string>tz</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Fetchinig timiezones or checking for an upgrade...</string>
				<key>script</key>
				<string>./timezone_list.sh "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Display current time in various worldwide locations</string>
				<key>title</key>
				<string>TimeZones</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>F15F2405-5743-4407-9BFF-A45E6783BA88</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>BD27CF53-3880-47C9-9AAC-4B443E7BA1BD</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>echo -n "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>942CCE71-9883-4AB2-A558-B5A44993DF3B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./convert_to_unix_timestamp.sh "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F4B43EF6-E32D-4988-A7B3-8CC64CC701BA</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Time copied to clipboard!</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>E9C3767A-C20A-4934-BB66-83416A567C96</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>576752B3-B93B-49C1-8E41-B0E31110799B</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>./toggle_fav_city.sh "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>9740FE97-5B7D-4D30-9EF3-5D845C5CA7DC</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Timezones</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>075CB49C-D3B5-4699-9B92-B421D704333D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>./add_city.sh "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>3E37F651-EEB7-451F-B0AD-28710998F443</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>timezone add</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>1</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Fetching time data...</string>
				<key>script</key>
				<string>#$city=$(echo "{query}" | sed 's/ /_/g')

./timezone_get_city.sh "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>List of matching cities (keep typing city name)</string>
				<key>title</key>
				<string>Add a new city</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>DBA4F782-B7E9-486E-92A4-D06655FFE839</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>63</integer>
				<key>script</key>
				<string>./move.sh</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>8FB97B65-0E08-4EC2-A78E-EB05887599EF</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>timezone move</string>
				<key>subtext</key>
				<string>Change storage location for your Timezone list</string>
				<key>text</key>
				<string>Move Timezone list</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>814F7D3F-03F9-4248-8308-ECA4D3792F3F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>63</integer>
				<key>script</key>
				<string>./move.sh</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>E8F7A1D7-00B7-44A7-9C43-3AFA322C666E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>timezone 24h</string>
				<key>subtext</key>
				<string>Change displayed time format to 24h (e.g. 15:00)</string>
				<key>text</key>
				<string>Change time format to 24h</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>C30DCDAB-4A04-4B8C-8DBD-2BEF53E15F31</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>4</integer>
				<key>script</key>
				<string>./changeParameter.sh "TIME_FORMAT" "24h"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C0EA86FF-9C54-4A0D-B7A5-3ED5CA9F5675</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Format changed!</string>
				<key>title</key>
				<string>TImeZones</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>4D5D6C9D-E596-4EB1-A0A7-634814560B7F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>4</integer>
				<key>script</key>
				<string>./changeParameter.sh "TIME_FORMAT" "12h"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>7C2B2778-8AEE-4861-9E54-DD7E3C7B49F7</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>timezone 12h</string>
				<key>subtext</key>
				<string>Change displayed time format to 12h (e.g. 3:00 pm)</string>
				<key>text</key>
				<string>Change time format to 12h (am/pm)</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>D8D3E88A-E982-4F27-B3AA-46DAD6C5D87F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>4</integer>
				<key>script</key>
				<string>./changeParameter.sh "TIME_FORMAT" "Both"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>600941C7-2A17-46A0-ABD4-C1568FBA7DBD</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>timezone both</string>
				<key>subtext</key>
				<string>Change displayed time format to hybrid, e.g. 14:30 (2:30 pm)</string>
				<key>text</key>
				<string>Change time format to both 24 and 12h (am/pm)</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>ECAFAB55-5A45-4C0D-9578-3B43945E6B61</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>timezone sort off</string>
				<key>subtext</key>
				<string>Results will not be sorted and will follow order from timezones.txt</string>
				<key>text</key>
				<string>Disable result sorting</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>E3AE529B-21B7-4E17-A447-94A184AF6066</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Changed results sorting!</string>
				<key>title</key>
				<string>TImeZones</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>8681E6DB-55BB-4796-BE89-9BD5551E64BF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>4</integer>
				<key>script</key>
				<string>./changeParameter.sh "SORTING" "n"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F8514F2E-D28D-4DC7-A39C-D2B71716F48C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>4</integer>
				<key>script</key>
				<string>./changeParameter.sh "SORTING" "y"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C9B8E082-CCA2-4C0B-9B4F-501369C0B4DA</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>timezone sort on</string>
				<key>subtext</key>
				<string>Results will be sorted with Favourites on the top</string>
				<key>text</key>
				<string>Enable result sorting</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>1A535FEC-66A2-47AD-9B58-99755BEE3DAA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>open "$alfred_workflow_data/timezones.txt"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>4D7626AC-9354-4ABF-B95D-9224BCC91DDA</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Now you can edit your file. Don't break it!</string>
				<key>title</key>
				<string>TImeZones</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>66A14357-6BF2-48B9-8B55-A5B426EEE69E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>timezone edit</string>
				<key>subtext</key>
				<string>You can edit your configuration file</string>
				<key>text</key>
				<string>Edit file with defined cities</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>16D7BCC0-AD0A-49B7-98F2-5FC3444910B1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>timezone upgrade</string>
				<key>subtext</key>
				<string>Normall, new versions are checked every 7 days</string>
				<key>text</key>
				<string>Check for a newer version</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>408AA1A8-69F7-45E1-AF88-D3B90A40A00E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>./oneUpdater.sh 0</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>CAFFEE63-507B-4755-ADDC-20AFDF0CE87E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Timezone Converter
2 January 2024

=====
USAGE
=====

Keyword: tz (or hotkey) - bring up the list of saved cities with their respective current times. (Keep typing the name of a place for a one-off lookup.)

Keyword: tz &lt;time&gt; - where &lt;time&gt; can be in the 12H or 24H format. Examples: 1PM, 2AM, 13:00, 09:00 PM, 11:00:00AM, 14:00, etc.
 - convert provided time into time of your cities.

Keyword: tz &lt;part of city name&gt; - searches for a city in your cities that matches that name and shows the current time.

Keyword: tz &lt;time&gt; - where &lt;time&gt; can be in the 12H or 24H format. Examples: 1PM, 2AM, 13:00, 09:00 PM, 11:00:00AM, 14:00, etc.

Keyword: tz &lt;source city&gt; &lt;time&gt; - where &lt;time&gt; can be in the 12H or 24H format. Examples: 1PM, 2AM, 13:00, 09:00 PM, 11:00:00AM, 14:00, etc. and &lt;source city&gt; is used to search in your city list

Keyword: timezone add [your city] - add your city to the list. (To remove a city, option-select it from the main list.)

Keyword: timezone edit - open for edit of cities file.

Keyword: timezone move - move the saved cities file (timezones.txt) to a location of your choice (so you can sync it in your Dropbox or whatever you want).

Keyword: timezone 12h, timezone 24h - change format of displayed time.

=======
CREDITS
=======

GeoIP2 City and Country CSV Databases: https://dev.maxmind.com/geoip/geoip2/geoip2-city-country-csv-databases/

Flag icons from: http://www.free-country-flags.com
(Creative Commons Attribution-ShareAlike 3.0 Unported License.)

Icon design by Logo Open Stock (modified from original) http://www.logoopenstock.com

OneUpdater https://github.com/vitorgalvao/alfred-workflows/tree/master/OneUpdater


=========
CHANGELOG
=========

All issues tracked on GitHub https://github.com/thiagoh/timezone-converter/issues

v1.0
2 Jan 2024

* Initial release</string>
	<key>uidata</key>
	<dict>
		<key>075CB49C-D3B5-4699-9B92-B421D704333D</key>
		<dict>
			<key>xpos</key>
			<integer>1010</integer>
			<key>ypos</key>
			<integer>260</integer>
		</dict>
		<key>16D7BCC0-AD0A-49B7-98F2-5FC3444910B1</key>
		<dict>
			<key>xpos</key>
			<real>290</real>
			<key>ypos</key>
			<real>1280</real>
		</dict>
		<key>1A535FEC-66A2-47AD-9B58-99755BEE3DAA</key>
		<dict>
			<key>xpos</key>
			<real>290</real>
			<key>ypos</key>
			<real>1160</real>
		</dict>
		<key>3E37F651-EEB7-451F-B0AD-28710998F443</key>
		<dict>
			<key>xpos</key>
			<real>490</real>
			<key>ypos</key>
			<real>410</real>
		</dict>
		<key>408AA1A8-69F7-45E1-AF88-D3B90A40A00E</key>
		<dict>
			<key>xpos</key>
			<integer>290</integer>
			<key>ypos</key>
			<integer>1405</integer>
		</dict>
		<key>4D5D6C9D-E596-4EB1-A0A7-634814560B7F</key>
		<dict>
			<key>xpos</key>
			<real>690</real>
			<key>ypos</key>
			<real>740</real>
		</dict>
		<key>4D7626AC-9354-4ABF-B95D-9224BCC91DDA</key>
		<dict>
			<key>xpos</key>
			<real>490</real>
			<key>ypos</key>
			<real>1280</real>
		</dict>
		<key>576752B3-B93B-49C1-8E41-B0E31110799B</key>
		<dict>
			<key>xpos</key>
			<integer>1010</integer>
			<key>ypos</key>
			<integer>155</integer>
		</dict>
		<key>600941C7-2A17-46A0-ABD4-C1568FBA7DBD</key>
		<dict>
			<key>xpos</key>
			<real>490</real>
			<key>ypos</key>
			<real>920</real>
		</dict>
		<key>66A14357-6BF2-48B9-8B55-A5B426EEE69E</key>
		<dict>
			<key>xpos</key>
			<real>690</real>
			<key>ypos</key>
			<real>1280</real>
		</dict>
		<key>7C2B2778-8AEE-4861-9E54-DD7E3C7B49F7</key>
		<dict>
			<key>xpos</key>
			<real>490</real>
			<key>ypos</key>
			<real>800</real>
		</dict>
		<key>814F7D3F-03F9-4248-8308-ECA4D3792F3F</key>
		<dict>
			<key>xpos</key>
			<real>290</real>
			<key>ypos</key>
			<real>560</real>
		</dict>
		<key>8681E6DB-55BB-4796-BE89-9BD5551E64BF</key>
		<dict>
			<key>xpos</key>
			<real>690</real>
			<key>ypos</key>
			<real>1040</real>
		</dict>
		<key>8FB97B65-0E08-4EC2-A78E-EB05887599EF</key>
		<dict>
			<key>xpos</key>
			<real>490</real>
			<key>ypos</key>
			<real>560</real>
		</dict>
		<key>942CCE71-9883-4AB2-A558-B5A44993DF3B</key>
		<dict>
			<key>xpos</key>
			<integer>770</integer>
			<key>ypos</key>
			<integer>25</integer>
		</dict>
		<key>9740FE97-5B7D-4D30-9EF3-5D845C5CA7DC</key>
		<dict>
			<key>xpos</key>
			<real>500</real>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>BD27CF53-3880-47C9-9AAC-4B443E7BA1BD</key>
		<dict>
			<key>xpos</key>
			<real>100</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>C0EA86FF-9C54-4A0D-B7A5-3ED5CA9F5675</key>
		<dict>
			<key>xpos</key>
			<real>490</real>
			<key>ypos</key>
			<real>680</real>
		</dict>
		<key>C30DCDAB-4A04-4B8C-8DBD-2BEF53E15F31</key>
		<dict>
			<key>xpos</key>
			<real>290</real>
			<key>ypos</key>
			<real>680</real>
		</dict>
		<key>C9B8E082-CCA2-4C0B-9B4F-501369C0B4DA</key>
		<dict>
			<key>xpos</key>
			<real>490</real>
			<key>ypos</key>
			<real>1160</real>
		</dict>
		<key>CAFFEE63-507B-4755-ADDC-20AFDF0CE87E</key>
		<dict>
			<key>xpos</key>
			<integer>495</integer>
			<key>ypos</key>
			<integer>1405</integer>
		</dict>
		<key>D8D3E88A-E982-4F27-B3AA-46DAD6C5D87F</key>
		<dict>
			<key>xpos</key>
			<real>290</real>
			<key>ypos</key>
			<real>800</real>
		</dict>
		<key>DBA4F782-B7E9-486E-92A4-D06655FFE839</key>
		<dict>
			<key>xpos</key>
			<real>290</real>
			<key>ypos</key>
			<real>410</real>
		</dict>
		<key>E3AE529B-21B7-4E17-A447-94A184AF6066</key>
		<dict>
			<key>xpos</key>
			<real>290</real>
			<key>ypos</key>
			<real>1040</real>
		</dict>
		<key>E8F7A1D7-00B7-44A7-9C43-3AFA322C666E</key>
		<dict>
			<key>xpos</key>
			<real>490</real>
			<key>ypos</key>
			<real>560</real>
		</dict>
		<key>E9C3767A-C20A-4934-BB66-83416A567C96</key>
		<dict>
			<key>xpos</key>
			<integer>1205</integer>
			<key>ypos</key>
			<integer>155</integer>
		</dict>
		<key>ECAFAB55-5A45-4C0D-9578-3B43945E6B61</key>
		<dict>
			<key>xpos</key>
			<real>290</real>
			<key>ypos</key>
			<real>920</real>
		</dict>
		<key>F15F2405-5743-4407-9BFF-A45E6783BA88</key>
		<dict>
			<key>xpos</key>
			<real>300</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>F4B43EF6-E32D-4988-A7B3-8CC64CC701BA</key>
		<dict>
			<key>xpos</key>
			<integer>550</integer>
			<key>ypos</key>
			<integer>115</integer>
		</dict>
		<key>F8514F2E-D28D-4DC7-A39C-D2B71716F48C</key>
		<dict>
			<key>xpos</key>
			<real>490</real>
			<key>ypos</key>
			<real>1040</real>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
